{% extends 'base.html' %}


{% block content %}
  <main class="container mt-3">
    <h1 class="display-5 mt-4">Летим {{ departure }}</h1>
    <p class="mb-4">Найдено 6 туров, от {{ minprice }} до {{ maxprice }} и от {{ minday }} ночей до {{ maxday}} ночей</p>
    <!-- CARDS -->
<div class="row mt-5">
    {% for tour_id, tour in dep_tours.items %}
      <div class="col-4">
        <div class="card mb-4">
          <img class="card-img-top embed-responsive-item" src="{{ tour.picture }}" alt="" />
          <div class="card-body">
            <h2 class="h5 card-title">{{ tour.title }}</h2>
            <p class="card-text">{{ tour.description }}</p>
            <a href="{% url 'tour' tour_id %}" class="btn btn-sm btn-primary">Подробнее</a>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
  </main>
{% endblock %}
